@use "variables" as *;

body {
    // max-width: 1440px;
    margin: 0 auto;
}

.wrapper {
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;
}

.wrapperSmall {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

.svg {
    color: $black;
}