@use "variables" as *;

/* --------------- Contact Page Header ---------------- */
.contactUsTextContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 2rem;
    width: 10rem;

    .horizontalLine {
        border-bottom: 3px solid $black;
        width: 1.5rem;
    }

    h1 {
        margin-top: 1rem;
        text-transform: uppercase;
        text-align: left;
    }
}

/* --------------- Contact page detail section styles ---------------- */
.contactPageDetail {

    h2 {
        text-align: left;
    }

    p {
        text-align: left;
        color: $grey;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }
}

.contactPageDetailInnerContainer {
    display: flex;
    flex-direction: row;
    margin: 5% 0;
}

.detailInnerSingle {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    justify-content: flex-start;
    padding: 5%;

    h3 {
        text-align: left;
    }

    .svg {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}

.singleCenter {
    border-left: 2px solid rgb(148, 148, 148);
    border-right: 2px solid rgb(148, 148, 148);
}
/* .wideText in typography */

