@use "variables" as *;

/* =-=-=-=-=- Index page Main -=-=-=-=-= */
/* ---------- branding section --------- */
.branding {
    background-color: $lightSage;
}

.brandingContainer {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brandingImageContainer {
    position: relative;
    width: 50%;
}

.overlay {
    position: absolute;
    width: 50%;
    top: -35%;
    left: -20%;
}

.brandingTextContainer {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brandingText1,
.brandingText2 {
    flex-basis: 45%;

    p {
        margin-top: 20px;
    }
}

/* ---------- gallery section --------- */
.galleryContainer {
    padding: 10% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.galleryContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;

    p {
        margin-top: 40px;
    }
}

.arrowIcon {
    padding: 0.25rem;
    width: 2rem;
    height: 2rem;
    transition: padding 0.3s;

    &:hover,
    &focus {
        padding: 0;
    }
}

.galleryImageContainer {
    width: 40%;

    img {
        /* https: //www.webfx.com/blog/web-design/circular-images-css/
        using the border radius 50% found on the website to make circular image
        */
        border-radius: 50%;
    }
}

/* ---------- detail section --------- */
.detail {
    background-image: url(../assets/home-4.jpeg);
    background-size: cover;
}

.detailContainer {
    display: flex;
    justify-content: flex-end;
}
.detailHalfContainer {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10% 0;
}

.detailIndividualContainer {
    display: flex;
    width: 48.5%;
    padding-top: 10%;
}

.detailIcon {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
}

.fa-circle {
    font-size: 3.5rem;
}

.innerIcon {
    font-size: 1.7rem;
}

.detailIndividualTextContainer {
    padding-left: 20px;
    display: flex;
    flex-direction: column;

    h3 {
        text-align: left;
    }

    p {
        text-align: left;
        color: $grey;
    }
}

/* ---------- team section --------- */
.teamContainer {
    display: flex;
    flex-direction: column;
    padding: 10% 0;
}

.teamGalleryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1rem;
    margin-top: 5%;
}

.textBackground {
    background-color: rgb(231, 242, 253);
}

.teamDoubleSize {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    min-width: 300px;
    width: calc(147% / 3);
    /* use below .teamSingleSize x value 
    (2x + y) + 2y + 2x = 100 
    hence 2x + y = doubleSize = two single size + one space
    */
    margin: 0.5rem 0;
    padding: 5%;

    p {
        padding-top: 1rem;
        text-align: left;
    }
}
.teamSingleSize {
    display: flex;
    min-width: 150px;
    width: 23.5%;
    /* math. 4x + 3y = 100 
    fix x value here to find y*/

    //Align-self is default stretched. putting it center fix img from breaking its aspect ratio
    align-self: center;
    margin: 0.5rem 0;

    p {
        font-size: 1rem;
        text-transform: uppercase;
        display: flex;
        align-self: center;
    }
}

/* ---------- inquire section --------- */
.inquire {
    display: flex;
}

.inquireHalf1 {
    display: flex;
    padding: 10%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    background-color: $lightSage;

    p {
        color: $grey;
    }

    a {
        font-family: $montFont;
        font-weight: 400;
        background-color: $white;
        padding: 1rem;
        text-transform: uppercase;
    }
}

.inquireHalf2 {
    display: flex;
    width: 50%;
}

/* ---------- contactUs section --------- */
.contactUs {
    background-color: $black;
    color: $white;
}

.contactUsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10% 0;
}

.contactUsRow1,
.contactUsRow2,
.contactUsRow3 {
    display: flex;
    flex-direction: column;
    width: 32%;

    h3 {
        padding-bottom: 1.5rem;
    }
}

.contactUsSocialMedia {
    padding-top: 1rem;
}

.contactUsSvg {
    color: $white;
    margin-right: 1rem;
}

.contactUsRow1 {
    align-items: flex-start;

    p {
        text-align: left;
    }
    span::after {
        content: "\a";
        white-space: pre;
        line-break: strict;
    }
}

.contactUsRow2 {
    
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
    }
    li {
        padding-bottom: 0.5rem;
        
        &::before {
            /* using this website info to color bullets:
            https: //css-tricks.com/finally-it-will-be-easy-to-change-the-color-of-list-bullets/
             */
            content: "•";
        }
    }

    a {
        color: $white;
        font-size: 0.8rem;
    }
}

.contactUsRow3 {
    align-items: flex-end;

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    label {
        text-align: right;
        font-size: 0.8rem;
        padding-bottom: 1.5rem;
    }
    .emailContainer {
        display: flex;
        font-size: 0.8rem;
        justify-content: flex-end;
        width: 100%;
    
        input {
            display: flex;
            width: 75%;
            padding-left: 1rem;
        }
    }
}


.subButton {
    background-color: $lightSage;
    padding: 0.5rem;
}

/* ----------------- footer ---------------- */
footer {
    padding: 5% 0;
    background-color: $black;
    color: $whiteTwo;

    /* $white or $whiteTwo was too much so adjusted down */
    border-top: 1px solid rgb(70, 70, 70);

    h2 {
        letter-spacing: 0.5rem;
    }
}
