/* Navigation CSS from eCommerce code-along */
@use "variables" as *;

// position sticky, higher z index
.navBar {
    position: sticky;
    margin-top: 20px;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navBar a {
    &:visited{
        color: $black;
    }
}
.logoText {
    flex-basis: 30%;
}
.navContainer1,
.navContainer2 {
    flex-basis: 25%;
    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    a {
        text-decoration: underline;
        text-decoration-color: $rgbaClear;
        transition: text-decoration-color 0.3s;
        
        /* underline navigation Text on hover and focus */
        &:hover,
        &:focus {
            text-decoration-color: $rgbaBlack;
        }
    }
}
