/* Color and such variables declaring from Style Guides */

/* site fonts */
$bodyFont: 'Open Sans', sans-serif;
$montFont: 'Montserrat', sans-serif;

/* site colours */
$lightSage: #c3dab7;
$white: #ffffff;
$whiteTwo: #f6f6f6;
$black: #333333;
$grey: #626262;