@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
header,
ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
p,
button {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

img {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}

/* Color and such variables declaring from Style Guides */
/* site fonts */
/* site colours */
body {
  margin: 0 auto;
}

.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

.wrapperSmall {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

html {
  /* setting rem to 20px, assuming default 16px base.
  0.1rem is 2px */
  font-size: 125%;
}

body {
  /* Using Open Sans as default font */
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #333333;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; /* bold */
  font-size: 1.85rem; /* 37px */
  text-align: center;
  letter-spacing: 0.045rem; /* 0.9px */
}

/* Text like "MEET OUR TEAM" seem bigger text than header style, 
 so although its not in style guide added this. */
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; /* regular */
  font-size: 1.2rem; /* 24px */
  text-align: center;
  line-height: 1.2rem; /* 24px */
  letter-spacing: 0.1rem; /* 2px */
  text-transform: uppercase;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* regular */
  font-size: 0.9rem;
  /* 18px */
  text-align: center;
  line-height: 1.2rem;
  /* 24px */
  letter-spacing: 0.09rem;
  /* 1.8px */
  text-transform: uppercase;
}

/* button text and nav text class styles premade. to be applied later */
.buttonText {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; /* bold */
  font-size: 0.7rem; /* 14px */
  text-align: center;
  line-height: 1.2rem; /* 24px */
  letter-spacing: 0.0349rem; /* about 0.7px */
}

/* navBar (navigation menu) text */
.navBar li {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; /* regular */
  font-size: 0.7rem; /* 14px */
  letter-spacing: 0.015rem; /* 0.3px */
  text-transform: uppercase;
}

.logoText {
  text-transform: uppercase;
}

a {
  color: #333333;
}

/* body style text */
p {
  /* OpenSans font family, font weight inherited from body */
  font-size: 0.7rem; /* 14px */
  text-align: center;
  line-height: 1.2rem; /* 24px */
  letter-spacing: 0.015rem; /* 0.3px */
}

.wideText {
  letter-spacing: 0.2rem;
}

/* Navigation CSS from eCommerce code-along */
/* non-page specific header and nav styles */
/* Header Styles */
header {
  position: relative;
}

header.home {
  background-image: url(../assets/home-1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

header.blog {
  background-image: url(../assets/blog-1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

header.contact {
  background-image: url(../assets/contact-1.jpeg);
  background-repeat: no-repeat;
  background-position-y: 70px;
  height: 40vh;
}

.contact .navBar {
  background-color: #ffffff;
}

.navBar {
  /* position sticky, top 0, z-index from eShop code along to make sticky navbar */
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.navBar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar a:visited {
  color: #333333;
}

.logoText {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.navContainer1,
.navContainer2 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.navContainer1 ul,
.navContainer2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navContainer1 a,
.navContainer2 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  -webkit-transition: -webkit-text-decoration-color 0.3s;
  transition: -webkit-text-decoration-color 0.3s;
  transition: text-decoration-color 0.3s;
  transition: text-decoration-color 0.3s, -webkit-text-decoration-color 0.3s;
  /* underline navigation Text on hover and focus */
}
.navContainer1 a:hover, .navContainer1 a:focus,
.navContainer2 a:hover,
.navContainer2 a:focus {
  -webkit-text-decoration-color: #333333;
          text-decoration-color: #333333;
}
.navContainer1 a .shoppingCounter,
.navContainer2 a .shoppingCounter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  padding: 0 7px;
  left: 0.7rem;
  top: 0.7rem;
  background-color: #c3dab7;
  border-radius: 50%;
}

.navContainerDropDown {
  display: none;
  /* will become dropdown menu for smaller screen size */
}

.navContainerDropDown input {
  display: none;
}

.navMenuContent {
  position: absolute;
  display: none;
}
.navMenuContent ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.navMenuContent li {
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 1rem);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.navMenuContent li.homeAnchor {
  width: calc(100% - 1rem);
}
.navMenuContent a {
  font-size: 2rem;
  position: relative;
  text-decoration: underline;
  text-underline-offset: 0.8rem;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  -webkit-transition: -webkit-text-decoration-color 0.3s;
  transition: -webkit-text-decoration-color 0.3s;
  transition: text-decoration-color 0.3s;
  transition: text-decoration-color 0.3s, -webkit-text-decoration-color 0.3s;
}
.navMenuContent a:hover, .navMenuContent a:focus {
  -webkit-text-decoration-color: #333333;
          text-decoration-color: #333333;
}
.navMenuContent .navShoppingCounter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: #c3dab7;
  padding: 0 0.4rem;
  border-radius: 50%;
  right: -1rem;
  bottom: -0.3rem;
}
.navMenuContent .navIcon {
  font-size: 2rem;
  text-decoration: underline;
  text-underline-offset: 0.8rem;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  -webkit-transition: -webkit-text-decoration-color 0.3s;
  transition: -webkit-text-decoration-color 0.3s;
  transition: text-decoration-color 0.3s;
  transition: text-decoration-color 0.3s, -webkit-text-decoration-color 0.3s;
}
.navMenuContent .navIcon:hover, .navMenuContent .navIcon:focus {
  -webkit-text-decoration-color: #333333;
          text-decoration-color: #333333;
}

input:checked ~ .navMenuContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  top: 7vh;
  right: 10%;
  background-color: #ffffff;
  padding: 5%;
  width: 80%;
}

/* .svg Styles in basicStyles partial */
.navIcon {
  width: 1.4rem;
  height: 1.4rem;
  font-size: 1.4rem;
}

/* =-=-=-=-=- Index page Main -=-=-=-=-= */
/* ---------- branding section --------- */
.branding {
  background-color: #c3dab7;
  position: relative;
}

.verticalLine {
  position: absolute;
  top: 0;
  left: 50%;
  height: 5vh;
  border-right: 1px solid #b9b9b9;
}

.topLine {
  top: -5vh;
}

.brandingContainer {
  padding: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brandingImageContainer {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  width: 50%;
  top: -35%;
  left: -20%;
}

.brandingTextContainer {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brandingText1,
.brandingText2 {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
.brandingText1 p,
.brandingText2 p {
  margin-top: 20px;
}

/* ---------- gallery section --------- */
.galleryContainer {
  padding: 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galleryContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}
.galleryContent p {
  margin-top: 40px;
  color: #A0A0A0;
  font-style: italic;
}

.arrowIcon {
  padding: 0.25rem;
  width: 2rem;
  height: 2rem;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
}
.arrowIcon:hover, .arrowIconfocus {
  padding: 0;
}

.galleryImageContainer {
  width: 40%;
}
.galleryImageContainer img {
  /* https: //www.webfx.com/blog/web-design/circular-images-css/
  using the border radius 50% found on the website to make circular image
  */
  border-radius: 50%;
}

/* ---------- detail section --------- */
.detail {
  background-image: url(../assets/home-4.jpeg);
  background-size: cover;
}

.detailContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.detailHalfContainer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10% 0;
}

.detailIndividualContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48.5%;
  padding-top: 10%;
}

.detailIcon {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 4rem;
}

.fa-circle {
  font-size: 3.5rem;
}

.innerIcon {
  font-size: 1.7rem;
}

.detailIndividualTextContainer {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.detailIndividualTextContainer h3 {
  text-align: left;
}
.detailIndividualTextContainer p {
  text-align: left;
  color: #626262;
}

/* ---------- team section --------- */
.team {
  position: relative;
}

.teamContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10% 0;
}

.teamGalleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  margin-top: 5%;
}

.textBackground {
  background-color: #E6E6E6;
}

.teamDoubleSize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-width: 240px;
  width: 49%;
  /* use below .teamSingleSize x value 
  (2x + y) + 2y + 2x = 100 
  hence 2x + y = doubleSize = two single size + one space
  */
  margin: 0.5rem 0;
  padding: 5%;
}
.teamDoubleSize p {
  padding-top: 1rem;
  text-align: left;
}

.teamSingleSize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 120px;
  width: 23.5%;
  /* math. 4x + 3y = 100 
  fix x value here to find y*/
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0.5rem 0;
}
.teamSingleSize p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

/* ---------- inquire section --------- */
.inquire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inquireHalf1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  background-color: #c3dab7;
}
.inquireHalf1 p {
  color: #626262;
}
.inquireHalf1 a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  padding: 1rem;
  text-transform: uppercase;
}

.inquireHalf2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

/* ---------- contactUs section --------- */
.contactUs {
  background-color: #333333;
  color: #ffffff;
}

.contactUsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10% 0;
}

.contactUsRow1,
.contactUsRow2,
.contactUsRow3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 32%;
}
.contactUsRow1 h3,
.contactUsRow2 h3,
.contactUsRow3 h3 {
  padding-bottom: 1.5rem;
}

.contactUsSocialMedia {
  padding-top: 1rem;
}

.contactUsSvg {
  color: #ffffff;
  margin-right: 1rem;
}

.contactUsRow1 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contactUsRow1 p {
  text-align: left;
}

span::after {
  content: "\a";
  white-space: pre;
  line-break: strict;
}

.contactUsRow2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.contactUsRow2 li {
  padding-bottom: 0.5rem;
}
.contactUsRow2 li::before {
  /* using this website info to color bullets:
  https: //css-tricks.com/finally-it-will-be-easy-to-change-the-color-of-list-bullets/
   */
  content: "•";
}
.contactUsRow2 a {
  color: #ffffff;
  font-size: 0.8rem;
}

.contactUsRow3 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.contactUsRow3 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.contactUsRow3 label {
  text-align: right;
  font-size: 0.8rem;
  padding-bottom: 1.5rem;
}

.emailContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.emailContainer input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  padding-left: 1rem;
}

.subButton {
  background-color: #c3dab7;
  padding: 0.5rem;
}

/* ----------------- footer ---------------- */
footer {
  padding: 5% 0;
  background-color: #333333;
  color: #f6f6f6;
  /* $white or $whiteTwo was too much so adjusted down */
  border-top: 1px solid rgb(70, 70, 70);
}
footer h2 {
  letter-spacing: 0.5rem;
}

/* ----------------- blog Page styles ----------------- */
.blogPostContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10% 0;
}
.blogPostContainer h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.3rem;
  text-transform: uppercase;
}
.blogPostContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blogPostContainer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.afterSlash a {
  color: #A0A0A0;
}
.afterSlash::after {
  content: "/";
  margin: 0 0.5rem;
  color: #A0A0A0;
}

.blogPostDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5% 0;
  padding-bottom: 1rem;
  border-bottom: 2px solid #E6E6E6;
}

.blogPostHalfContainer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.blogPostDetailImageContainer {
  width: 15%;
  margin-right: 5%;
}
.blogPostDetailImageContainer img {
  border-radius: 50%;
}

.blogPostHalfContainer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.blogPostDetailText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blogPostDetailText h3 {
  text-align: left;
}
.blogPostDetailText p {
  color: #A0A0A0;
}

.blogPostDetailContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blogPostDetailContent h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: none;
  text-align: left;
  margin-bottom: 1rem;
}
.blogPostDetailContent p {
  color: #A0A0A0;
  text-align: left;
  margin-bottom: 1rem;
}

.blogPostDetailSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blogPostDetailSocial p {
  text-transform: uppercase;
  font-size: 1rem;
  color: #A0A0A0;
}

.blogSvg {
  margin: 0 0.5rem;
}

.relatedPostsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5%;
}
.relatedPostsContainer h2 {
  font-weight: 700;
  text-align: left;
  padding-bottom: 1rem;
  border-bottom: 2px solid #E6E6E6;
}

.relatedPostsGallery {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.relatedPostsSingle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32%;
}
.relatedPostsSingle p {
  margin: 5% 0;
  text-align: left;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.relatedPostsComment {
  margin: 5% 0;
}

.relatedPostsCommentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
}

.relatedPostsCommentSingle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.commentImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 8%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.commentImgContainer img {
  -o-object-fit: contain;
     object-fit: contain;
}

.commentTextContainer {
  background-color: #E6E6E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.userNameContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.userNameContainer .userName::after {
  content: " • ";
}
.userNameContainer a {
  color: #A0A0A0;
}

.commentContent p {
  margin-top: 1rem;
  text-align: left;
}

.commentTime p {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  padding-top: 1rem;
  color: #A0A0A0;
}

/* Leave a Comment form styles.*/
.relatedPostsLeaveComment form {
  margin: 2rem 0;
}

.detailCommentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.detailCommentContainer input {
  color: #333333;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  border-bottom: 2px solid #E6E6E6;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
  margin-bottom: 1rem;
  padding-bottom: 0.25rem;
}
.detailCommentContainer input:focus {
  outline: none;
  border-bottom: 2px solid #626262;
}

.commentContent {
  outline: none;
  border: none;
  border-bottom: 2px solid #E6E6E6;
  font-size: 0.8rem;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
  margin-bottom: 2rem;
}
.commentContent:focus {
  border-bottom: 2px solid #626262;
}

.detailCommentLine1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.detailCommentLine1 input {
  width: 32%;
}

.commentButton {
  font-size: 1rem;
  text-transform: uppercase;
  color: #333333;
  border-bottom: 2px solid #E6E6E6;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}
.commentButton:hover, .commentButton:focus {
  border-bottom: 2px solid #626262;
}

/* --------------- Contact Page Header ---------------- */
.contactUsTextContainer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 2rem;
  width: 10rem;
}
.contactUsTextContainer .horizontalLine {
  border-bottom: 3px solid #333333;
  width: 1.5rem;
}
.contactUsTextContainer h1 {
  margin-top: 1rem;
  text-transform: uppercase;
  text-align: left;
}

/* --------------- Contact page detail section styles ---------------- */
.contactPageDetail h2 {
  text-align: left;
}
.contactPageDetail p {
  text-align: left;
  color: #A0A0A0;
}
.contactPageDetail .greyText {
  color: #626262;
}
.contactPageDetail .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactPageDetailText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contactPageDetailText h2 {
  margin-bottom: 1rem;
}

.contactPageDetailInnerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5% 0;
}

.detailInnerSingle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33.3333333333%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5%;
}
.detailInnerSingle h3 {
  text-align: left;
}
.detailInnerSingle .svg {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.singleCenter {
  border-left: 2px solid #E6E6E6;
  border-right: 2px solid #E6E6E6;
}

/* .wideText in typography */
.contactPageDetailText form {
  margin: 10% 0;
}

.detailEmailContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.detailEmailContainer input {
  color: #333333;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  border-bottom: 2px solid #E6E6E6;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
  margin-bottom: 1rem;
  padding-bottom: 0.25rem;
}
.detailEmailContainer input:focus {
  outline: none;
  border-bottom: 2px solid #626262;
}

.messageContent {
  outline: none;
  border: none;
  border-bottom: 2px solid #E6E6E6;
  font-size: 0.8rem;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
  margin-bottom: 2rem;
}
.messageContent:focus {
  border-bottom: 2px solid #626262;
}

.detailEmailFirstLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.detailEmailFirstLine input {
  width: 32%;
}

.messageButton {
  font-size: 1rem;
  text-transform: uppercase;
  color: #333333;
  border-bottom: 2px solid #E6E6E6;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}
.messageButton:hover, .messageButton:focus {
  border-bottom: 2px solid #626262;
}

.imgSpacer {
  background-image: url(../assets/contact-2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
}

/* Setting up as PC first */
/* Header Media Queries */
@media (max-width: 1000px) {
  .navContainer1,
.navContainer2 {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}
@media (max-width: 800px) {
  .navContainer1,
.navContainer2 {
    display: none;
  }
  .navContainerDropDown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 600px) {
  .navContainerDropDown a {
    font-size: 1rem;
  }
  .navContainerDropDown .navIcon {
    font-size: 1.5rem;
  }
  .navContainerDropDown .navShoppingCounter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    background-color: #c3dab7;
    padding: 0 0.45rem;
    border-radius: 50%;
    right: -0.4rem;
    bottom: -0.5rem;
  }
  .navContainerDropDown .navShoppingCounter p {
    font-size: 0.5rem;
  }
}
@media (max-width: 1000px) {
  .detail {
    background-position-x: 50%;
  }
  .detailIndividualContainer {
    width: 100%;
  }
  .teamDoubleSize {
    padding: 2%;
  }
  .teamDoubleSize p {
    font-size: 0.6rem;
  }
}
@media (max-width: 800px) {
  .detail {
    background-position-x: 65%;
  }
  .detailHalfContainer {
    width: 90%;
  }
  .teamDoubleSize {
    width: 66%;
  }
  .teamSingleSize {
    width: 32%;
  }
}
@media (max-width: 600px) {
  .verticalLine {
    display: none;
  }
  .brandingContainer {
    padding: 10% 0;
  }
  .brandingImageContainer {
    margin-top: 10%;
    width: 70%;
  }
  .galleryImageContainer {
    width: 70%;
  }
  .galleryContent p {
    font-size: 0.6rem;
  }
  .teamDoubleSize {
    width: 100%;
  }
  .teamSingleSize {
    width: 48.5%;
  }
  .inquireHalf1 {
    padding: 2%;
  }
  .inquireHalf1 a {
    padding: 2%;
  }
  .contactUsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactUsRow1,
.contactUsRow2,
.contactUsRow3 {
    width: 70%;
    padding-bottom: 2rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contactUsRow2 ul {
    margin: 0;
  }
  .contactUsRow3 label {
    text-align: left;
  }
  .emailContainer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer h2 {
    letter-spacing: 0.2rem;
  }
}
@media (max-width: 400px) {
  .inquire {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inquireHalf1 {
    width: 100%;
    padding: 10% 0;
  }
  .inquireHalf1 p {
    margin: 5% 0;
  }
  .inquireHalf2 {
    display: none;
  }
}
/* basic style partial includes base body width and wrapper */
/* Media Queries */